# roles/wso2_api_manager/templates/deployment.toml.j2

[server]
hostname = "localhost"
node_ip = "127.0.0.1"

[transport.https]
port = {{ wso2_https_port }}

[database.shared_db]
type = "{{ wso2_db_type }}"
url = "jdbc:postgresql://{{ wso2_db_host }}:{{ wso2_db_port }}/{{ wso2_db_name }}"
username = "{{ wso2_db_user }}"
password = "{{ wso2_db_password }}"

[database.apim_db]
type = "{{ wso2_db_type }}"
url = "jdbc:postgresql://{{ wso2_db_host }}:{{ wso2_db_port }}/{{ wso2_db_name }}"
username = "{{ wso2_db_user }}"
password = "{{ wso2_db_password }}"

